{% extends "global/Page.html" %}
{% load otree static %}

{% load l10n %}

{% block styles %}
    <link href="{% static 'altruism_hypothetical/css/style_altruism.css' %}" rel="stylesheet">
{% endblock %}


{% block title %}
    Altruism Hypothetical Question
{% endblock %}

{% block content %}

<div class="wrapper">
<p>
   Imagine the following situation: Today you unexpectedly received {{ endowment }} Euro.
   How much of this amount would you donate to a good cause? (Values between 0 and {{ endowment }} are allowed.)
</p>

    {% formfields %}

    {% next_button %}
</div>

{% endblock %}
