{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{% block title %}
    Part {{ part_index }}
{% endblock %}


{% block content %}

<div class="container">
<p>
  Imagine the following situation:
  Together with a person whom you do not know you have won €{{ endowment }} in a lottery.
  The rules stipulate the following:
  One of you has to make a proposal about how to divide the €{{ endowment }} between you two.
</p>
<p>
  The other one gets to know the proposal and has to decide between two options.
  He or she can accept the proposal or reject it.
  If he or she accepts the proposal, the money is divided according to the proposal.
  If he or she rejects the proposal, both of you receive nothing.
</p>
<p>
  Assume that the other person makes the proposal about how to divide the money.
  You on the other hand have to decide whether to accept or reject the proposal.
  What is the minimum amount the other person has to offer you for you to be willing to accept the proposal?
  (Integers between 0 and {{ endowment }} are allowed.)
</p>

    {% formfields %}


    {% next_button %}

</div>
{% endblock %}

