{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'mpl/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Instructions" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p>
            {% blocktrans trimmed with lottery_hi=lottery_hi%}
            Now you can choose between a safe payment and a lottery.
            The lottery is as follows:
            There is a 50 percent chance to get {{ lottery_hi }} Euro, and a 50 Percent chance to get nothing.
            The safe option differs from scenario to scenario.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed with n=num_choices %}
            On the following screen you will see {{ n }} scenarios.
            For each of these hypothetical scenarios we will ask you to choose between the lottery and the safe payment.
            We will now give you an overview over all the scenarios.
            {% endblocktrans %}
        </p>
        <p>
            Please indicate whether you choose the lottery or the safe payment.
        </p>

        <p>
            {% blocktrans trimmed with n=num_choices %}
                After you have made all of your choices, one of the {{ n }} decisions will be randomly chosen for
                your payment.
                If, at the randomly chosen decision, you chose the lottery option, your payoff will be determined according
                to the corresponding probabilities.
            {% endblocktrans %}
        </p>


    </div>

    {% next_button %}

{% endblock %}
