<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>

{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="{% static 'mpl/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    Part {{ part_index }}
{% endblock %}


</head>
<body>

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}

<div class="container">
<div class="row">

{% block content %}

    <div class="wrapper instructions">
        <h4>Instructions</h4>
        <p>
            {% blocktrans trimmed with n=num_choices %}
            On the following screen you will see {{ n }} hypothetical scenarios.
            In each scenario you can choose between a lottery and a safe payment.
            The lottery is as follows:
            There is a {{ probability }} chance to get €{{ lottery_hi }}, and a {{ probability }} chance to get nothing.

            The safe payment increases from scenario to scenario.
            Its value is €0 in the first scenario, €10 in the second, €20 in the third, and so on.
            In the last scenario, the value is €300.
            {% endblocktrans %}
        </p>

        {% if enforce_consistency %}
        <p>
            Since the safe payment gets better and better in each scenario,
            you should switch from the lottery to the safe payment only once.
            This means that, if in a certain scenario you accept the safe payment,
            then you should accept the safe payment also in the subsequent scenarios.
            Likewise, it means that you should accept the lottery in all the preceding scenarios.
            In other words, the scenario in which you accept the safe payment will mark
            the point where you stop to accept the lottery and you begin to accept the safe payment.
        </p>
        <p>
            To simplify your task, you will only have to select the point in which you switch your selection
            from the lottery to the safe payment. To do this, you only need to click on the safe payment
            in the scenario in which you want to switch.
            Mind that you can revise your decision for as long as you want before submitting it.
        </p>
        <p>
            Please, indicate the scenario in which you switch from the lottery to the safe payment.
        </p>

        {% else %}
        <p>
            Please, for each scenario, indicate whether you choose the lottery or the safe payment.
        </p>

        {% endif %}

        {% if results %}
        <p>
            {% blocktrans trimmed with n=num_choices %}
                After you have submitted your decision, one of the {{ n }} scenarios will be randomly chosen for
                your payment.
                If, at the randomly chosen scenario, you chose the lottery option, your payoff will be determined according
                to the corresponding probabilities. Otherwise, you will earn the safe payment.
            {% endblocktrans %}
        </p>
        {% endif %}

    </div>


    {% next_button %}

    {% endblock %}
  </div>
  </div>
</body>
</html>
