<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>

{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'trust_hypothetical/css/style_trust.css' %}" rel="stylesheet">
{% endblock %}

</head>
<body>
{% block content %}

  <div class="instructions">

      <h4>Instructions</h4>
  <p>
      {% blocktrans trimmed with c=currency %}
          Please consider what you would do in the following situation:
          you and a person whom you do not know both have to make a decision about the use of some money
          and together you achieve an outcome.
          The rules are the following: both of you get an account with {{ c }}{{ endowment }}.
          Thus, at first, both you and the other person have {{ c }}{{ endowment }} each in their account.
      {% endblocktrans %}
  </p>
  <p>
      {% blocktrans trimmed with c=currency %}
          The other person has to decide first. She can transfer money to your account.
          She can transfer any round amount, i.e. {{ c }}0, {{ c }}1, {{ c }}2, etc. up to {{ c }}{{ endowment }}.
          Each Euro that the other person decides to transfer to you is tripled by the people conducting the study
          and then credited to your account.
          Thus, after the first step the other person has {{ c }}{{ endowment }} minus the amount she transferred to you in her account.
          You on the other hand have {{ c }}{{ endowment }} plus three times the amount that was transferred in your account.
      {% endblocktrans %}
  </p>
  <p>
      {% blocktrans trimmed with c=currency %}
          Now you have to make a decision.
          You can transfer any amount to the other person, i.e. {{ c }}0, {{ c }}1, {{ c }}2, etc.
          up to {{ c }}{{ max_endowment }} depending on how much money is in your account after
          receiving the transfer from the other person.
          After this decision the study is over, and the amount in the two accounts are final.
          The other person has {{ c }}{{ endowment }} minus the amount she transferred to you
          plus the amount you transferred back to her account.
          You have {{ c }}{{ endowment }} plus three times the amount the other person transferred to you
          minus the amount you transferred to the other person in your account.
      {% endblocktrans %}

  </p>
  <p>
      For a given transfer of the other person we would now like to know how much money you would decide to transfer back.
  </p>
  </div>

{% endblock %}
