{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Parte 5 - Domanda 1
{% endblock %}

{% block content %}

    {% comment %}<p>
        Per piacere, rispondi alle seguenti domande:
    </p>{% endcomment %}

    <p> Quanto sei disposto a donare per una giusta causa senza aspettarti nulla in cambio? </p>

    <p> Indica la tua risposta utilizzando una scala da 0 a 10, dove 0 significa che sei “per niente disposto a farlo” e 10 significa che seì “completamente disposto a farlo”. Puoi utilizzare anche un qualsiasi numero tra 0 e 10 per indicare dove ti trovi in questa scala. La risposta a questa domanda non influenza il tuo guadagno nell'esperimento.</p>

    {% formfields %}

    {% next_button %}

{% endblock %}
