/* ****************************************************************************************************************** */
/* *** General *** */
/* ****************************************************************************************************************** */


h2 {
    text-align: center !important;
}

.otree-body.container {
    max-width:1000px;
    margin: 20px auto 20px;
    font-size: 1rem;
    font-weight: normal;
}

.page-header {
    margin: 40px 0 40px;
    padding: 0;
    border-bottom: none;
    text-align:center;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
  text-align:center;
  padding: 25px;
}

.otree-btn-next {
    margin: 40px auto;
    display: inherit;
}

.wrapper, .alert {
    min-width: 800px;
    max-width: 900px;
    margin: 40px auto 20px;
}

.form-check-input, label {
    position: relative;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
}

.table>thead>tr>td {
    padding: 0.25rem;
    vertical-align: center;
    text-align: center;
    border: 1px solid #dee2e6;
    position:relative;
    font-size:smaller;
    font-weight: normal;
    max-width: 100px;
    }

.table>tbody>tr>td { /* button cells */
    padding: 1.33rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
    border: 1px solid #dee2e6;
    position:relative;
    font-size:smaller;
    font-weight: normal;
    }

table>tbody,
 table>thead {
    border: 1px solid #dee2e6;
    }

.table th {
    font-weight: normal;
    }

.table td {
    font-weight: normal;
    }

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: justify;
    }

.table td, .table th {
    padding: .5rem;
    vertical-align: inherit; /* from the sassy css */
    border-top: 1px solid #dee2e6;

    }

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 0px;
    }

.scale-left {
    text-align:start;
    font-size: small;
    border-left-style:hidden;
    max-width:50px;
    padding-left:0.1rem;
    }

.scale-right {
    text-align:end;
    font-size: small;
    max-width:50px;
    padding-right:0.1rem;
    }
