/* ****************************************************************************************************************** */
/* *** General *** */
/* ****************************************************************************************************************** */


h2 {
    text-align: center !important;
}

.otree-body.container {
    max-width:1000px;
    margin: 20px auto 20px;
    font-size: 1rem;
    font-weight: normal;
}

.page-header {
    margin: 40px 0 40px;
    padding: 0;
    border-bottom: none;
    text-align:center;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: justify;
    }

div {
  margin: 1.5em;
}

div p {
	margin-bottom: 1em;
  font-size: 1.1em;
  text-align: justify;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
  text-align:center;
  padding: 25px;
}

.otree-btn-next {
    margin: 40px auto;
    display: inherit;
}

.wrapper, .alert {
    /*min-width: 800px; */
    max-width: 900px;
    margin: 40px auto 20px;
    font-size: 1.2rem;
}

div label {
    position: relative;
    margin: auto;
}

div input[type=radio]{
  position: relative;
  margin: auto;
}

.table>thead>tr>td {
    padding: 0.25rem;
    vertical-align: center;
    text-align: center;
    border: 1px solid #dee2e6;
    position:relative;
    font-size:smaller;
    font-weight: normal;
    max-width: 100px;
    }

.table>tbody>tr>td { /* button cells */
    padding: 1.33rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
    border: 1px solid #dee2e6;
    position:relative;
    font-size:smaller;
    font-weight: normal;
    }

table>tbody,
 table>thead {
    border: 1px solid #dee2e6;
    }

.table td, .table th {
    padding: .5rem;
    vertical-align: inherit; /* from the sassy css */
    border-top: 1px solid #dee2e6;
    font-weight:normal;
    }

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 0px;
    max-width:50px;
    padding: 0.1rem;
    padding-left:0.2rem;
    }

.scale-left {
    text-align:start;
    font-size: small;
    font-weight:normal;
    border-left-style:hidden;
    max-width:45px;
    padding: 0.1rem;
    padding-left:0.5rem;
    }

.scale-right {
    text-align:end;
    font-size: small;
    max-width:45px;
    padding-right:0.1rem;
    }

table tbody th {
  min-width: 180px;
}

#scale-row {
  border-top-style:hidden;
  border-left-style:hidden;
  border-right-style:hidden;
}


#overflow-table {
  margin:1.5em;
}

@media screen and (max-width: 850px) {
  #overflow-table {
    overflow-x:scroll;
  }
}
